body {
  background-color: black;
}

/* images da ne moze da se highlightvat, samo text, da vida length na video da ne moze da se highlightva vav samia thumbnail etc.?!, a dali da moze da se highlightvat images, koi kak moze da go izpolzva?! */

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100vh;
  
  background-color: rgba(0, 0, 0, 0.5);
}

/* ili 10vh, a moze bi 15vh?! da vida desktop i mobile */
.main-content::before {
  position: absolute;
  top: -20vh;
  height: 20vh;
  width: 100%;
  content: "";

  /* to be able to click on the top-content buttons */
  pointer-events: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%,rgba(0,0,0,0) 50%);
}

@media screen and (max-width: 540px) {
  .main-content {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .main-content::before {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%);
  }
}

/* da napravia samite menu items text da ne moze da se selectvat?!*/ 

/* triabva prefixes na niakoi browsers za tazi rabota: https://www.w3schools.com/cssref/sel_selection.asp */
::selection {
/*  background-color: rgba(100, 100, 100, 1.3);*/
  background-color: rgba(0, 0, 0, 0.7); /* da go eliminatena tova transparency, ili da go ostavia da varyva spored samia background?! */
/*  border: 1px solid white;*/
}

/* za da moze da se cukat samite carousel tochki, moze i sas z-index stacking */
.down-arrow {
  pointer-events: none;
}