.section {
    width: calc(100% - 2em);
  max-width: 750px; /* tweak? */
  display: flex;
  align-self: center;
  flex-direction: column;
  margin: 0em 1em 1em 1em;

  border: 1px solid rgb(30, 30, 30);
  /* DA USILA TEZI SHADOWS NAVSIAKADE KAKTO TUKA!!! */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.80) 100%, rgba(100, 100, 100, 0.80) 50%, rgba(50, 50, 50, 0.80) 100%);
  color: white;
}

@media screen and (max-width: 540px) {
  .section {
    align-items: center;
    width: 100%;
    margin: 0;

    box-shadow: none;
    background: none;
    border: none;
  }

  .section::after {
    display: block;
    content: "";
    height: 1px;
    align-self: stretch;
    margin: auto 1rem;

    background-color: rgb(130, 130, 130);
  }

  .section:last-child::after {
    height: 0px;
  }
}

.section .title {
  /* taka e leko indented navatre, koeto izglezda po-dobre otkolkoto aligned sas thumbnaila sas 1rem */
  padding: 0 0.83em; 
}

/* samite golemini shte sa razlichni spored tova dali e na mobile ili desktop header, moze i prosto da go napravia za desktop
headera da raboti i avtomatichno shte raboti i za mobile headera, dori samite pixeli da sa vav poveche */
/* https://stackoverflow.com/a/9618795 */
.fragment-link::before {
  content:"";
  display:block;
  height:100px; /* fixed header height*/
  margin:-100px 0 0; /* negative fixed header height */
}